

/* DatePickerCustomStyles.css */
.react-datepicker-wrapper {
  display: inline-block;
  position: relative;
  width: 100%; /* Ensure it takes full width */
}

.react-datepicker {
  font-family: 'Arial', sans-serif;
  /* Additional styles as needed */
}

.react-datepicker-popper {
  /* Additional styles for the popper container */
}

.react-datepicker__input-container {
  display: flex;
  align-items: center; /* Center items vertically */
  position: relative; /* Ensure relative positioning for child elements */
}

.react-datepicker__input-container input {
  padding-left: 'auto' ; /* Adjust based on your icon size and position */
}

.react-datepicker__input-container .react-datepicker__close-icon {
  position: absolute;
  left:0; /* Adjust this value to move the icon to the left */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure the icon is above the input text */
}


.react-datepicker__input-container .react-datepicker__calendar-icon {
    position: absolute;
    padding: 0;
    box-sizing: content-box;
    visibility:hidden
}
/* CustomDateCellEditor.css */

/* Ensure that the calendar has a grid layout with 7 days per row */
.react-datepicker__month {
  display: block;
}

/* Adjust the day header to display from left to right */
.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Hide the days that are not part of the current month */
.react-datepicker__day--outside-month {
  visibility: hidden;
}

/* Ensure the correct order of days in the grid */
.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}